<template>
  <div :class="['header-sidebar-wrap', showClass ? 'show' : '']">
    <div class="header-sidebar">
      <div class="header-close-btn" @click="$emit('toggleHamburgerMenu')">
        <i class="fa fa-times"></i>
      </div>
      <div class="sidebar-menu">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a href="javascript:;">Home</a>
          </li>
          <li
            class="nav-item"
            v-for="(category1, id1) in headerCategories"
            :key="category1.id"
          >
            <a href="javascript:;" @click="toggleFirstDropdown(id1)" :class="{
                  openMenuIcon:
                    category1 &&
                    category1.key &&
                    category1.children &&
                    category1.children.length > 0,
                }">
                <span>{{ category1.name }}</span>
                <i class="fa fa-chevron-right"></i>
              
            </a>
            <ul
              v-if="
                category1 &&
                  category1.key &&
                  category1.children &&
                  category1.children.length > 0
              "
              class="sidebar-dropdown-menu"
              :class="{ open: category1.key }"
            >
              <li
                class="sidebar-dropdown"
                v-for="(category2, id2) in category1.children"
                :key="category2.id"
              >
                <a href="javascript:;" @click="toggleSecondDropdown(id1, id2)">
                  <span>{{ category2.name }}</span>
                  <div
                    :class="{
                      openMenuIcon:
                        category2 &&
                        category2.key &&
                        category2.children &&
                        category2.children.length > 0,
                    }"
                  >
                    <i class="fa fa-chevron-right"></i>
                  </div>
                </a>
                <ul
                  v-if="
                    category2 &&
                      category2.key &&
                      category2.children &&
                      category2.children.length > 0
                  "
                  class="dropdown-submenu"
                  :class="{ submenu: category2.key }"
                >
                  <li
                    class="dropdown-submenu-item"
                    v-for="category3 in category2.children"
                    :key="category3.children"
                  >
                    <a
                      ><span>{{ category3.name }}</span></a
                    >
                  </li>
                  <!-- <li class="dropdown-submenu-item">
                    <a><span>Sub Sub Categorie</span></a>
                  </li>
                  <li class="dropdown-submenu-item">
                    <a><span>Sub Sub Categorie</span></a>
                  </li>
                  <li class="dropdown-submenu-item">
                    <a><span>Sub Sub Categorie</span></a>
                  </li> -->
                </ul>
              </li>
              <!-- <li class="sidebar-dropdown">
                <a href="javascript:;">
                  <span>Categorie</span>
                  <i class="fa fa-chevron-right"></i>
                </a>
              </li>
              <li class="sidebar-dropdown">
                <a href="javascript:;">
                  <span>Categorie</span>
                </a>
              </li> -->
            </ul>
          </li>
          <!-- <li class="nav-item">
            <a href="javascript:;">Home Categorie</a>
          </li>
          <li class="nav-item">
            <a href="javascript:;">Home Categorie</a>
          </li>
          <li class="nav-item">
            <a href="javascript:;">Home Categorie</a>
          </li>
          <li class="nav-item">
            <a href="javascript:;">Home Categorie</a>
          </li>
          <li class="nav-item">
            <a href="javascript:;">Contact</a>
          </li>
          <li class="nav-item">
            <a href="javascript:;">Service</a>
          </li>
          <li class="nav-item">
            <a href="javascript:;">Blog</a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HeaderSidebar",
  props: {
    showClass: Boolean,
    headerCategories: Array,
  },
  data() {
    return {
      openMenu: false,
      openSubMenu: false,
    };
  },
  emits: ["toggleHamburgerMenu"],
  methods: {
    toggleHamburgerMenu() {
      this.showClass = !this.showClass;
    },
    toggleFirstDropdown(id) {
      const subMenu = this.headerCategories[id];
      this.headerCategories[id].key = subMenu.key ? false : true;
      this.$forceUpdate();
    },
    toggleSecondDropdown(child1_Id, child2_Id) {
      const subSubMenu = this.headerCategories[child1_Id].children[child2_Id];

      this.headerCategories[child1_Id].children[child2_Id].key = subSubMenu.key
        ? false
        : true;
      this.$forceUpdate();
    },
    // sidebarDropdown() {
    //   this.openMenu = !this.openMenu;
    // },
    // dropdownSubmenu() {
    //   this.openSubMenu = !this.openSubMenu;
    // },
  },
};
</script>
