<template>
  <div>
    <HeaderSidebar
      :showClass="sidebarToggle"
      :headerCategories="headerCategories"
      @toggleHamburgerMenu="toggleHamburgerMenu"
    />
    <div>
      <header>
        <div class="container">
          <div class="menu-wrap">
            <div class="hamburger-menu" @click="sidebarToggleFn">
              <div class="menu-icon">
                <i class="fas fa-bars"></i>
              </div>
            </div>
            <div class="topnav-rightmenu">
              <ul>
                <li>
                  <span><i class="fa fa-phone-alt"></i>+31(0)12-3456789</span>
                </li>
                <li>
                  <span><i class="fa fa-user"></i>{{ $t('inloggen') }}</span>
                </li>
                <li>
                  <span><i class="fas fa-shopping-bag"></i>Winkelmandje</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>
</template>

<script>
import HeaderSidebar from "@/components/HeaderSideBar.vue";

export default {
  name: "TopHeader",
  components: { HeaderSidebar },
  data() {
    return {
      sidebarToggle: false,
    };
  },
  computed: {
    headerCategories() {
      return this.$store.state.headerCategories;
    },
  },
   watch: {
    sidebarToggle(value) {
      if (value) {
        document.body.classList.add("overlay");
      } else {
        document.body.classList.remove("overlay");
      }
    },
  },
  async mounted() {
    this.getAllHeaderCategories();
  },
  methods: {
    sidebarToggleFn() {
      this.sidebarToggle = !this.sidebarToggle;
    },
    getAllHeaderCategories() {
      this.$store.dispatch("fetchHeaderCategories");
    },
    toggleHamburgerMenu() {
      this.sidebarToggle = !this.sidebarToggle;
    },
  },
};
</script>

<style scoped></style>
