<template>
  <div id="app">
    <div id="nav">
      <TopHeader />
    </div>
  </div>
</template>


<script>
import TopHeader from "@/components/TopHeader.vue";

export default {
  components: { TopHeader },
};
</script>

