$primary_gray: #676d6b;
$light_gray: #acafae;
$extra_light_gray: #e1e2e6;
$white: #ffffff;
$black: #000000;
$border_color: #c7c8cb;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'PoppinsThin';
  src: url('../assets/fonts/Poppins-Thin.woff') format('woff'),
    url('../assets/fonts/Poppins-Thin.woff2') format('woff2');
  font-weight: 300;
}
@font-face {
  font-family: 'PoppinsRegular';
  src: url('../assets/fonts/Poppins-Regular.woff') format('woff'),
    url('../assets/fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'PoppinsSemiBold';
  src: url('../assets/fonts/Poppins-SemiBold.woff') format('woff'),
    url('../assets/fonts/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'PoppinsBold';
  src: url('../assets/fonts/Poppins-Bold.woff') format('woff'),
    url('../assets/fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 600;
}
body {
  font-size: 16px;
  font-family: 'PoppinsRegular', sans-serif;
  line-height: 21px;
  font-weight: 400;
}
a {
  text-decoration: none;
  transition: all 300ms ease-in-out;
}
a:hover {
  text-decoration: none;
}

.overlay:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
header {
  background-color: $primary_gray;
  position: relative;
  padding: 12px 0;
  .container {
    max-width: 870px;
  }

  .menu-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .hamburger-menu {
      .menu-icon {
        color: $white;
        cursor: pointer;
        font-size: 24px;
        border: 1px solid $white;
        height: 40px;
        width: 50px;
        line-height: 40px;
        text-align: center;
        border-radius: 4px;
        padding: 0 0px;
      }
    }
    .topnav-rightmenu {
      position: relative;
      ul {
        list-style: none;
        display: flex;
        margin: 0;
        li {
          &:not(:first-child) {
            margin-left: 50px;

            @media (max-width: 767px) {
              margin-left: 20px;
            }
          }

          span {
            color: $white;
            display: block;
            padding: 10px 0;
            cursor: pointer;
            font-size: 14px;
            @media (max-width: 767px) {
              font-size: 0;
              line-height: 0;
              padding: 0;
              svg {
                font-size: 14px;
              }
            }
            svg {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}

.header-sidebar-wrap {
  position: fixed;
  left: 0;
  top: 0;
  background: #676d6b;
  width: 290px;
  height: 100%;
  z-index: 9;
  transition: all 400ms ease-in-out;
  transform: translateX(-100%);
  &.show {
    transform: translateX(0);
  }
  .header-close-btn {
    color: $white;
    text-align: right;
    position: relative;
    right: 14px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;

    svg {
      font-size: 20px;
    }
  }

  .header-sidebar {
    padding-top: 30px;
    .sidebar-menu {
      height: 90vh;
      overflow: auto;
      margin-top: 15px;
      &::-webkit-scrollbar {
        width: 5px;
        height: 8px;
      }
      &::-webkit-scrollbar-track {
        background: $primary_gray;
        border-radius: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background: $white;
        border-radius: 5px;
        cursor: pointer;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: $white;
      }
      .navbar-nav {
        .nav-item {
          margin: 0;
          color: $white;
          width: 100%;
          .openMenuIcon {
            svg {
              transform: rotate(90deg);
            }
          }
          a {
            &:hover {
              background: $light_gray;
            }
          }
          .sidebar-dropdown-menu {
            background: $extra_light_gray;
            position: relative;
            overflow: hidden;
            transition: all 400ms ease-in-out;
            &.open {
            }
            .sidebar-dropdown {
              position: relative;
              a {
                border-bottom: 1px solid $border_color;
                color: $black;

                &:hover {
                  background: #acafae;
                }
              }
              .dropdown-submenu {
                background: #ffffff;
                display: block;
                position: relative;
                overflow: hidden;
                transition: all 400ms ease-in-out;
                &.submenu {
                }
                .dropdown-submenu-item {
                  border-bottom: 1px solid $extra_light_gray;
                  cursor: pointer;
                  a {
                    &:hover {
                      background: $primary_gray;
                      color: $white;
                    }
                  }
                }
              }
            }
          }
          a {
            color: $white;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }
      }
    }
  }
}
